<?php if (!empty($this->contentsData)) : ?>
    <table class="w3-table w3-table-all w3-small">
        <thead>
        <tr>
            <th>ID</th>
            <th>lang</th>
            <th title="Verwendung: URL;">Alias</th>
            <th title="Verwendung: Men&uuml;">Name</th>
            <!--<th title="Verwendung: Contentbereich">Titel</th>-->
            <th>Datum new</th>
            <th>Datum last edit</th>
            <th>Startseite</th>
            <th>aktiv</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php $lastLangContentId = 0 ?>
        <?php $trBgColor = '#ccc' ?>
        <?php foreach ($this->contentsData as $contentData) : ?>
            <?php
            if ($lastLangContentId != $contentData['cms_content_id_lang']) {
                switch ($trBgColor) {
                    case '#ccc':
                        $trBgColor = '#ddd';
                        break;
                    case '#ddd':
                        $trBgColor = '#ccc';
                        break;
                }
            }
            ?>
            <?php $lastLangContentId = $contentData['cms_content_id_lang'] ?>
            <?php $trBoldStyle = ($this->currentContentId == $contentData['cms_content_id']) ? 'bold' : 'normal'; ?>
            <tr style="background-color: <?php echo $trBgColor ?>; font-weight: <?php echo $trBoldStyle ?>;">
                <td><?php echo $contentData['cms_content_id'] ?></td>
                <td><?php echo $contentData['cms_content_lang'] . ' | ' . $contentData['cms_content_id_lang'] ?></td>
                <td>
                    <a href="<?php echo $this->url('bitkorn_cms_admin_editarticle', ['category' => $contentData['cms_category_alias'], 'content_id' => $contentData['cms_content_id']]) ?>">
                        <?php echo $contentData['cms_content_alias'] ?>
                    </a>
                </td>
                <td><?php echo $contentData['cms_content_label'] ?></td>
                <!--<td><?php // echo $contentData['content_title'] ?></td>-->
                <td><?php echo $contentData['cms_content_time_create'] ?></td>
                <td><?php echo $contentData['cms_content_time_update'] ?></td>
                <td align="right" style="width:100px;">
                    <form method="post" action="" style="margin:0;">
                        <?php echo $contentData['cms_content_startsite'] ? 'ja' : 'nein' ?>
                        <input type="hidden" value="<?php echo $contentData['cms_content_id'] ?>"
                               name="switch_cms_content_id">
                        <input type="submit" value="switch" name="switch_cms_content"
                               class="w3-small w3-button w3-grey w3-padding-tiny">
                    </form>
                </td>
                <td align="right" style="width:100px;">
                    <form method="post" action="" style="margin:0;">
                        <?php echo $contentData['cms_content_active'] ? 'ja' : 'nein' ?>
                        <input type="hidden" value="<?php echo $contentData['cms_content_id'] ?>"
                               name="switch_cms_content_active_id">
                        <input type="submit" value="switch" name="switch_cms_content_active"
                               class="w3-small w3-button w3-grey w3-padding-tiny">
                    </form>
                </td>
                <td>
                    <form method="post" action="" style="margin:0;">
                        <input type="hidden" value="<?php echo $contentData['cms_content_id'] ?>" name="del_cms_content_id">
                        <input type="submit" value="löschen" name="del_cms_content" id="del_cms_content"
                               class="w3-small w3-button w3-grey w3-padding-tiny">
                    </form>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <!--    <p><strong>Kein Content vorhanden.</strong></p>-->
<?php endif; ?>

<script>
    $(document).ready(function () {
        $('input#del_cms_content').click(function () {
            alert('jou');
        });
    });
</script>
