<?php
/**
 * Pagination control view script
 *
 * @package    BitkornCms
 */
//$urlParams = $this->getRequest()->getParams(); // Laminas\View\HelperPluginManager::get was unable to fetch or create an instance for getRequest
//print_r($urlParams, true);
?>
<div class="w3-bar w3-blue-gray">
    <!-- links Pfeil -->
    <?php if (isset($this->previous)) { ?>
        <a href="<?= $this->url($this->route, ['page' => $this->previous, 'id' => $this->id]) ?>" class="w3-button">&laquo;</a>
    <?php } else { ?>
        <a class="disabled w3-button">&laquo;</a>
    <?php } ?>

    <!-- Seiten -->
    <?php foreach ($this->pagesInRange as $page) { ?>
    <?php if ($page != $this->current) { ?>
        <a href="<?= $this->url($this->route, ['page' => $page, 'id' => $this->id]) ?>" class="w3-button"><?= $page ?></a>
    <?php } else { ?>
    <a class="active w3-button"><?= $page; ?>
        <?php } ?>
        <?php } ?>

        <!-- rechts Pfeil -->
        <?php if (isset($this->next)) { ?>
            <a href="<?= $this->url($this->route, ['page' => $this->next, 'id' => $this->id]) ?>" class="w3-button">&raquo;</a>
        <?php } else { ?>
            <a class="disabled w3-button">&raquo;</a>
        <?php } ?>
</div>
