<div class="w3-row content-wrapper sitebuilder-row">
    <div class="w3-col m4 l4">
        <div class="w3-margin">
            <div class="sitebuilder-image-wrapper" style="text-align: center;">
                <img src="/img/bkimages/noimage/no_image_mts_128.png" alt="" class="sitebuilder-image" data-imagesize="mts_128">
            </div>
            <h4 class="sitebuilder-text" style="text-align: center;">H4 Headertext</h4>
            <div class="sitebuilder-textarea" style="text-align: center;">some text</div>
        </div>
    </div>
    <div class="w3-col m4 l4">
        <div class="w3-margin">
            <div class="sitebuilder-image-wrapper" style="text-align: center;">
                <img src="/img/bkimages/noimage/no_image_mts_128.png" alt="" class="sitebuilder-image" data-imagesize="mts_128">
            </div>
            <h4 class="sitebuilder-text" style="text-align: center;">H4 Headertext</h4>
            <div class="sitebuilder-textarea" style="text-align: center;">some text</div>
        </div>
    </div>
    <div class="w3-col m4 l4">
        <div class="w3-margin">
            <div class="sitebuilder-image-wrapper" style="text-align: center;">
                <img src="/img/bkimages/noimage/no_image_mts_128.png" alt="" class="sitebuilder-image" data-imagesize="mts_128">
            </div>
            <h4 class="sitebuilder-text" style="text-align: center;">H4 Headertext</h4>
            <div class="sitebuilder-textarea" style="text-align: center;">some text</div>
        </div>
    </div>
</div>