<div class="w3-row content-wrapper sitebuilder-row">
    <div class="w3-col m4 l4">
        <div class="w3-margin">
            <div class="sitebuilder-textarea" style="text-align: justify;">some text</div>
        </div>
    </div>
    <div class="w3-col m4 l4">
        <div class="w3-margin">
            <div class="sitebuilder-textarea" style="text-align: justify;">some text</div>
        </div>
    </div>
    <div class="w3-col m4 l4">
        <div class="w3-margin">
            <div class="sitebuilder-textarea" style="text-align: justify;">some text</div>
        </div>
    </div>
</div>