<div class="w3-row sitebuilder-row">
    <div class="w3-display-container slide-container" id="dynamic">
        <div class="w3-display-container slide-item w3-animate-opacity" id="dynamic">
            <img src="/img/shop/home/slider/Hundegeschirr_Slider1920x816_1.jpg" style="width:100%" alt="Hundegeschirr Slider" class="">
            <div class="w3-display-bottomright slide-text w3-right-align slide-text-bottom" style="">
                <div class="slide-text-h">SYSTEMGURT Hundegeschirr</div>
                Ihr Begleiter ein Hundeleben lang
            </div>
        </div>
        <div class="w3-display-container slide-item w3-animate-opacity" id="dynamic">
            <img src="/img/shop/home/slider/Hundegeschirr_Slider1920x816_3.jpg" style="width:100%" alt="Hundegeschirr Slider" class="">
            <div class="w3-display-topright slide-text w3-right-align">
                schonend f&uuml;r Hund und Halter<br>optimaler Tragekomfort<br>ideale Kraftverteilung
            </div>
        </div>
        <div class="w3-display-container slide-item w3-animate-opacity" id="dynamic">
            <img src="/img/shop/home/slider/Hundegeschirr_Slider1920x816_2.jpg" style="width:100%" alt="Hundegeschirr Slider" class="">
            <div class="w3-display-topleft slide-text">
                uneingeschr&auml;nkte Bewegungsfreiheit<br>atmungsaktiv und schnelltrocknend<br>deutsches Qualit&auml;tsprodukt
            </div>
        </div>
        <div class="w3-row-padding slide-nav-items" id="dynamic">
            <div class="slide-nav-item-div">
                <img id="dynamic" class="slide-nav-item" src="/img/shop/home/slider/Hundegeschirr_Slider1920x816_1_70h.jpg" alt="Hundegeschirr Slider navigation">
            </div>
            <div class="slide-nav-item-div">
                <img id="dynamic" class="slide-nav-item" src="/img/shop/home/slider/Hundegeschirr_Slider1920x816_3_70h.jpg" alt="Hundegeschirr Slider navigation">
            </div>
            <div class="slide-nav-item-div">
                <img id="dynamic" class="slide-nav-item" src="/img/shop/home/slider/Hundegeschirr_Slider1920x816_2_70h.jpg" alt="Hundegeschirr Slider navigation">
            </div>
        </div>
    </div>
</div>