<div class="w3-row sitebuilder-row">
    <div class="w3-display-container slide-container" id="dynamic">
        <div class="w3-display-container slide-item w3-animate-opacity" id="dynamic">
            <img src="/img/bkimages/slider/noimage/no_image_1920x816.png" style="width:100%" alt="no image" class="">
            <div class="slide-text w3-display-bottomright w3-right-align slide-text-bottom" style="">
                slider text
            </div>
        </div>
        <div class="w3-row-padding slide-nav-items" id="dynamic">
            <div class="slide-nav-item-div">
                <img id="dynamic" class="slide-nav-item" src="/img/bkimages/slider/noimage/no_image_1920x816_70h.png" alt="no image">
            </div>
        </div>
    </div>
</div>