<?php
if ($this->content) :
    $this->headTitle($this->content['content_meta_title'] ?? '');
    $this->headMeta()->appendName('description', $this->content['content_meta_description'] ?? '');
    $this->headMeta()->appendName('keywords', $this->content['content_meta_keywords'] ?? '');

    if ($this->showSocial) {
        $this->inlineScript()->appendFile($this->basePath('js/facebook-async.js'));
        $this->headMeta()->appendProperty('fb:app_id', '1425397937478996');
        $this->headMeta()->appendProperty('og:site_name', 'Systemgurt Hundegeschirr');
        $this->headMeta()->appendProperty('og:url', $this->serverUrl());
        $this->headMeta()->appendProperty('og:type', 'website');
        $this->headMeta()->appendProperty('og:title', $this->content['content_meta_title'] ?? '');
        $this->headMeta()->appendProperty('og:description', $this->content['content_meta_description'] ?? '');
        $this->headMeta()->appendProperty('og:image', $this->serverUrl() . '/img/logo-small_transparent-bg_200x200.png');
        $this->headMeta()->appendProperty('og:image:width', 200);
        $this->headMeta()->appendProperty('og:image:height', 200);
    }

    $this->headLink()->appendStylesheet($this->basePath('css/slider.css?v=0.0.3'));
    $this->inlineScript()->appendFile($this->basePath('js/app/slider.js?v=0.0.3'));
    ?>
    <?php echo $this->content['cms_content_content'] ?>

    <?php if ($this->showSocial): ?>
        <div class="w3-row content-wrapper">
            <div class="w3-col">
                <div class="social-bar">
                    <div class="" style="position: relative; top: 4px">
                        <div class="g-plus" data-action="share" data-annotation="none" data-href="<?php echo $this->serverUrl() ?>"></div>
                    </div>
                    <div class="" style="position: relative; top: 0px">
                        <div class="fb-like" 
                             data-href="<?php echo $this->serverUrl() ?>" 
                             data-layout="button" 
                             data-action="like" 
                             data-share="true" 
                             data-show-faces="false">
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>
