
<div class="w3-row sitebuilder-row" data-test="1">
    <div class="w3-col m4 l4">
        <img src="" alt="" class="sitebuilder-image">
        <h5 class="sitebuilder-text">Some Headertext</h5>
        <div class="sitebuilder-textarea">some text</div>
    </div>
    <div class="w3-col m4 l4">
        <img src="" alt="" class="sitebuilder-image">
        <h5 class="sitebuilder-text">Some Headertext</h5>
        <div class="sitebuilder-textarea">some text</div>
    </div>
    <div class="w3-col m4 l4">
        <img src="" alt="" class="sitebuilder-image">
        <h5 class="sitebuilder-text">Some Headertext</h5>
        <div class="sitebuilder-textarea">some text</div>
    </div>
</div>

<div class="w3-row sitebuilder-row" data-test="2">
    <div class="w3-col">
        <img src="" alt="" class="sitebuilder-image">
        <h5 class="sitebuilder-text">Some Headertext</h5>
        <div class="sitebuilder-textarea">some text</div>
    </div>
</div>