<?php
$this->headTitle('Site Builder');
$this->headLink()->appendStylesheet($this->basePath('js/trumbowyg/ui/trumbowyg.min.css?v=0.0.1'));
$this->headLink()->appendStylesheet($this->basePath('css/sitebuilder.css?v=0.0.2'));
$this->headLink()->appendStylesheet($this->basePath('css/slider.css?v=0.0.1'));
$this->inlineScript()->appendFile($this->basePath('js/trumbowyg/trumbowyg.min.js?v=0.0.1'));
$this->inlineScript()->appendFile($this->basePath('js/trumbowyg/plugins/colors/trumbowyg.colors.min.js?v=0.0.1'));
//$this->inlineScript()->appendFile($this->basePath('js/trumbowyg/plugins/table/trumbowyg.table.min.js?v=0.0.1'));
//$this->inlineScript()->appendFile($this->basePath('js/trumbowyg/plugins/bkimagesbrowse/trumbowyg.bkimagesbrowse.js?v=0.0.1'));
$this->inlineScript()->appendFile($this->basePath('js/app/slider.js?v=0.0.3'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/sitebuilder.js?v=0.0.4'));
//echo $this->printrTextarea($this->content);
?>
<style type="text/css">
    <?php // echo $this->content['content_style_site']; /* sieht hier doof aus, hier besser den "preview"-Button nutzen */ ?>
</style>

<div class="w3-panel w3-padding-8 w3-grey">
    <strong>Edit SiteBuilder Content</strong>: <?php echo $this->content['cms_content_alias'] ?>
    <a href="<?php echo $this->url('bitkorn_cms_admin_articles') ?>" class="w3-right w3-small">
        <i class="fa fa-backward" aria-hidden="true"></i> <?php echo $this->translate('CMS Content') ?>
    </a>
</div>

<?php $this->contentForm->prepare() ?>
<?php echo $this->form()->openTag($this->contentForm) ?>
<?php echo $this->formRow($this->contentForm->get('cms_content_id')) ?>
<!-- Site Builder Toolbar & Trash -->
<div id="sitebuilder-trash" class="w3-xxlarge w3-center bk-orange-light">&nbsp;<i class="fa fa-trash"></i>&nbsp;
    <div class="w3-right w3-small">
        <a href="<?php echo $this->url('bitkorn_cms_content_short', ['content_alias' => $this->content['cms_content_alias']]) ?>" class="w3-button w3-light-grey"
           target="_blank">
            <i class="fa fa-external-link"></i> preview
        </a>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="w3-button bk-grey sitebuilder-content-meta-toggle"><i class="fa fa-edit w3-large"></i> Content Meta Data</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="w3-button bk-grey sitebuilder-site-style-toggle"><i class="fa fa-edit w3-large"></i> Site Style</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" id="sitebuilder-button-save" class="w3-button bk-grey">Save</button>
        <?php // echo $this->formSubmit($this->contentForm->get('submit')) ?>
    </div>
</div>

<div>&nbsp;<!-- Space for trash and Drg'n Drop --></div>

<div id="sitebuilder-content-meta" style="display: none; background-color: #cccccc">
    <div class="w3-small">
        <div class="w3-row">
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_category_id')) ?>
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_alias')) ?>
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_label')) ?>
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                &nbsp;
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_meta_title')) ?>
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_meta_desc')) ?>
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_meta_keywords')) ?>
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_meta_social')) ?>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l3 m3 bk-padding-8">
                &nbsp;
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                &nbsp;
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                &nbsp;
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_lang')) ?>
            </div>
        </div>
        <br>
    </div>
    <hr class="hr-thin">
</div>
<div id="sitebuilder-site-style" style="display: none; background-color: #cccccc;">
    <div class="w3-small">
        <div class="w3-row">
            <div class="w3-col l6 m6 bk-padding-8">
                <p>
                    <strong>CSS Style Examples for Style-Tag (&lt;style&gt;&lt;/style&gt; ...visible only in preview)</strong>
                    <br>h4 { color: #EE7203}
                </p>
            </div>
            <div class="w3-col l6 m6 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_style_site')) ?>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 m6 bk-padding-8">
                <p>
                    <strong>CSS Style Examples for HTML-Tag</strong>
                    background-color: #00FF00
                    <br>color: white
                    <br>background-image: url(/img/bkimages/noscale/2018/01/1/systemgurt_hp_startsite_background.png)
                    <br>...separated with ;
                </p>
            </div>
            <div class="w3-col l6 m6 bk-padding-8">
                <?php echo $this->formRow($this->contentForm->get('cms_content_style')) ?>
            </div>
        </div>
    </div>
    <hr class="hr-thin">
</div>

<!-- Site Builder -->
<div class="w3-row">
    <div id="sitebuilder-templates-wrapper" class="w3-col l2 m2 sitebuilder-templates w3-light-grey">
        <?php if (!empty($this->siteBuilderTemplates)) : ?>
            <?php foreach ($this->siteBuilderTemplates as $siteBuilderTemplate) : ?>
                <div class="sitebuilder-template-svg" data-templatehtml="<?php echo htmlspecialchars($siteBuilderTemplate['cms_sitebuilder_template_html']) ?>">
                    <?php echo $siteBuilderTemplate['cms_sitebuilder_template_svg'] ?>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
    <div class="w3-col l10 m10">
        <div id="sitebuilder-content" style="<?php echo $this->content['cms_content_style'] ?: '' /* here for preview only */ ?>">
            <?php echo $this->content['cms_content_content'] ?>
        </div>
    </div>
</div>

<!-- Content Mirror -->
<?php echo $this->formElement($this->contentForm->get('cms_content_content')) ?>
<?php echo $this->form()->closeTag(); ?>

<!-- Modal -->
<div id="sitebuilder-modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container bk-grey">
            <div class="w3-padding">&nbsp;</div>
            <span onclick="exitSitebuilderModal()" class="w3-button w3-display-topright cursor-pointer">&times;</span>
        </header>
        <div class="w3-container" id="sitebuilder-modal-content">blah</div>
        <footer class="w3-container bk-grey">
            <button class="w3-button w3-small sitebuilder-modal-save">OK</button>
        </footer>
    </div>
</div>

<!-- Modal Images -->
<div id="bk-images-modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container bk-grey">
            <div class="w3-padding">Choose an image</div>
            <span onclick="exitBkImagesModal()" class="w3-button w3-display-topright cursor-pointer">&times;</span>

        </header>
        <div class="w3-container" id="bk-images-modal-content">blah</div>
        <div class="w3-container bk-grey">
            <button id="bk-images-modal-save" class="w3-button w3-small">OK</button>
        </div>
    </div>
</div>

<!-- Modal Slider -->
<div id="bk-images-slider-modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container bk-grey">
            <div class="w3-padding">&nbsp;</div>
            <span onclick="exitBkImagesSliderModal()" class="w3-button w3-display-topright cursor-pointer">&times;</span>
        </header>
        <div class="w3-container" id="bk-images-slider-modal-content">blah</div>
        <footer class="w3-container bk-grey">
            <button id="bk-images-slider-modal-save" class="w3-button w3-small">OK</button>
        </footer>
    </div>
</div>

<!--<div id="sitebuilder-row-toolbar">blah</div>-->

<script type="text/javascript">
    <?php if (!$this->formValid): ?>
    $('#sitebuilder-site-style').css('display', 'none');
    $('#sitebuilder-content-meta').toggle();
    <?php endif; ?>
</script>