<?php
$this->headTitle('CMS articles');
//echo $this->printrTextarea($this->textarea);
?>
<style>
    .button-switch {
        width: 50px;
    }
    .w3-small {
        padding: 4px 6px;
    }
</style>
<script>
    function toggleCategorymenu() {
        var x = document.getElementById('dropdown-content');
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    $(function () {
        $('.del-cms-content').submit(function (e) {
            if (!confirm('Den Eintrag unwiderruflich löschen?')) {
                e.preventDefault();
                return;
            }
        });
    });
</script>
<h3>CMS Content</h3>
<?php if (isset($this->categoryUl)) { ?>
    <div class="w3-row">
        <div class="w3-col">
            <strong class="w3-button w3-small cursor-pointer" onclick="toggleCategorymenu()">Kategorie wählen</strong>
            <div id="dropdown-content" class="w3-dropdown-content w3-bar-block w3-border w3-white">
                <?php echo $this->categoryUl ?>
            </div>
            <?php if ($this->categoryAlias) : ?>
                <a href="<?php echo $this->url('bitkorn_cms_admin_articles') ?>" class="w3-button w3-small cursor-pointer">alle</a>
                &nbsp;
                <span class="w3-small">&nbsp;aktuell: <strong><?php echo $this->categoryAlias ?></strong></span>
            <?php endif; ?>
        </div>
    </div>
<?php } ?>
<br>
<?php if (!empty($this->contents)) : ?>
    <table class="w3-table w3-table-all w3-small">
        <thead>
            <tr>
                <th>ID</th>
                <th>lang</th>
                <th title="">Label</th>
                <th>Datum new</th>
                <th>last edit</th>
                <th>Startseite</th>
                <th>aktiv</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php $lastLangContentId = 0 ?>
            <?php $trBgColor = '#ccc' ?>
            <?php foreach ($this->contents as $content) : ?>
                <?php
                if ($lastLangContentId != $content['cms_content_id_lang']) {
                    switch ($trBgColor) {
                        case '#ccc':
                            $trBgColor = '#ddd';
                            break;
                        case '#ddd':
                            $trBgColor = '#ccc';
                            break;
                    }
                }
                ?>
                <?php $lastLangContentId = $content['cms_content_id_lang'] ?>
                <tr style="background-color: <?php echo $trBgColor ?>;">
                    <td><?php echo $content['cms_content_id'] ?></td>
                    <td><?php echo $content['cms_content_lang'] . ' | ' . $content['cms_content_id_lang'] ?></td>
                    <td>
                        <?php $route = $content['cms_content_sitebuilder'] ? 'bitkorn_cms_admin_sitebuilder' : 'bitkorn_cms_admin_editarticle' ?>
                        <a href="<?php echo $this->url($route, ['category' => $content['cms_category_alias'], 'content_id' => $content['cms_content_id']]) ?>">
                            <strong>
                                <?php echo ($content['cms_content_sitebuilder'] ? '<i class="fa fa-cubes" aria-hidden="true"></i>&nbsp;' : '') . $content['cms_content_label'] ?>
                            </strong>
                        </a>
                    </td>
                    <td><?php echo $content['cms_content_time_create'] ?></td>
                    <td><?php echo $content['cms_content_time_update'] ?></td>
                    <td align="right" style="width:100px;">
                        <form method="post" action="" style="margin:0;">
                            <input type="hidden" value="<?php echo $content['cms_content_id'] ?>"
                                   name="switch_cms_content_id">
                            <input type="submit" value="<?php echo $content['cms_content_startsite'] == 1 ? 'ja' : 'nein' ?>" name="switch_cms_content"
                                   class="w3-button w3-small w3-grey w3-padding-tiny button-switch">
                        </form>
                    </td>
                    <td align="right" style="width:100px;">
                        <form method="post" action="" style="margin:0;">
                            <input type="hidden" value="<?php echo $content['cms_content_id'] ?>"
                                   name="switch_cms_content_active_id">
                            <input type="submit" value="<?php echo $content['cms_content_active'] == 1 ? 'ja' : 'nein' ?>" name="switch_cms_content_active"
                                   class="w3-button w3-small w3-grey w3-padding-tiny button-switch">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="" style="margin:0;" class="del-cms-content">
                            <input type="hidden" value="<?php echo $content['cms_content_id'] ?>" name="del_cms_content_id">
                            <input type="submit" value="löschen" name="del_cms_content"
                                   class="w3-button w3-small w3-grey w3-padding-tiny">
                        </form>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>