<?php
$this->headTitle('category edit');
//echo $this->printrTextarea($this->depthArray);
?>
<script>
    function toggleCategorymenu() {
        var x = document.getElementById('dropdown-content');
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
<style>
    .current {
        font-weight: bold;
    }
</style>
<h3>Kategorien bearbeiten</h3>
<?php if (isset($this->categoryUl)) { ?>
    <div class="w3-row">
        <div class="w3-col">
            <strong class="w3-button w3-small cursor-pointer" onclick="toggleCategorymenu()">Kategorie wählen</strong> - <span class="w3-small">Kategorie aktuell (Alias): <strong><?php echo $this->categoryAlias ?></strong></span>
            <div id="dropdown-content" class="w3-dropdown-content w3-bar-block w3-border">
                <?php echo $this->categoryUl ?>
            </div>
        </div>
    </div>
<?php } ?>
<hr/>
<?php if (isset($this->category_form) && $this->category_form) { ?>
    <div class="w3-row">
        <div class="w3-col l4 m6">
            <?php echo $this->form($this->category_form) ?>
        </div>
    </div>
<?php } ?>