<?php
$this->headTitle('CMS Admin Categories');
//echo $this->printrTextarea($this->formData);
?>
<h3>Kategorie erstellen</h3>
<?php if (isset($this->category_form) && $this->category_form) { ?>
    <div class="w3-row">
        <div class="w3-col l4 m6">
            <?php echo $this->form($this->category_form) ?>
        </div>
    </div>
<?php } ?>
