<?php
$this->headTitle('edit CSM content');
//echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <strong>Edit CMS Content</strong>
    <a href="<?php echo $this->url('bitkorn_cms_admin_articles') ?>" class="w3-right w3-small">
        <i class="fa fa-backward" aria-hidden="true"></i> <?php echo $this->translate('CMS Content') ?>
    </a>
</div>
<h3></h3>

<?php if (isset($this->contentForm) && $this->contentForm && !empty($this->contentData)) { ?>
    <?php
    $this->contentForm->prepare();
    echo $this->form()->openTag($this->contentForm);
    echo $this->formRow($this->contentForm->get('cms_content_id'));
    ?>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_category_id')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_alias')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_label')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            &nbsp;
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_meta_title')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_meta_desc')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_meta_keywords')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_meta_social')) ?>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_style')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_style_site')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            &nbsp;
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_lang')) ?>
        </div>
    </div>

    <br>
    <div class="w3-row">
        <div class="w3-col">
            <?php echo $this->formRow($this->contentForm->get('cms_content_content')) ?>
            <hr>
            <?php echo $this->formSubmit($this->contentForm->get('submit')) ?>
        </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
    <?php if (!empty($this->contentData)) : ?>
        <hr>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <form action="" method="post">
                    <input type="hidden" value="<?php echo $this->contentData['cms_content_id'] ?>"
                           name="copy_content_for_translate_content_id">
                    <input type="submit" value="zum &uuml;bersetzen kopieren" name="copy_content_for_translate"
                           class="w3-button w3-gray w3-right">
                </form>
            </div>
        </div>
        <?php if (!empty($this->contentLanguageData) && count($this->contentLanguageData) > 1) : ?>
            <h3>Es gibt &uuml;bersetzungen f&uuml;r diesen Artikel.</h3>
            <div class="w3-responsive">
                <table class="w3-table w3-bordered w3-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>lang</th>
                        <th>Alias</th>
                        <th>Label</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->contentLanguageData as $content) :
                        if ($content['cms_content_id'] == $this->contentData['cms_content_id']) {
                            continue;
                        } ?>
                        <tr>
                            <td><?php echo $content['cms_content_id'] ?></td>
                            <td><?php echo $content['cms_content_lang'] . ' | ' . $content['cms_content_id_lang'] ?></td>
                            <td><?php echo $content['cms_content_alias'] ?></td>
                            <td><?php echo $content['cms_content_label'] ?></td>
                            <td>
                                <a href="<?php
                                echo $this->url('bitkorn_cms_admin_editarticle',
                                    ['category' => $content['cms_category_alias'], 'content_id' => $content['cms_content_id']])
                                ?>" class="btn btn-xs btn-default">
                                    edit
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        <?php endif; ?>
    <?php endif; ?>
<?php } ?>
