<?php
$this->headTitle('CMS Admin Inline Content');
echo $this->displayMessage($this->message);
?>
<h3>Edit Inline-Content</h3>
<hr>
<?php if ($this->isInlineContent) { ?>

    <table class="w3-table w3-table-all w3-small">
        <thead>
        <tr>
            <th title="used in template" class="hovercontext"><a href="?order=id">ID</a></th>
            <th><a href="?order=alias">Alias</a></th>
            <th title="zur internen Identifizierung">Kommentar</th>
            <th>last edit</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->paginator->getCurrentItems() as $inlineContent) { ?>
            <tr>
                <td>
                    <?php echo $inlineContent['cms_content_inline_id'] ?>
                </td>
                <td>
                    <?php
                    $url = $this->url($this->route, ['id' => $inlineContent['cms_content_inline_id'], 'page' => $this->page])
                    ?>
                    <a href="<?php echo $url ?>"><?php echo $inlineContent['cms_content_inline_alias'] ?></a>
                </td>
                <td>
                    <?php echo $inlineContent['cms_content_inline_comment'] ?>
                </td>
                <td>
                    <?php echo $inlineContent['cms_content_inline_time_update'] ?>
                </td>
            </tr>
        <?php } ?>

        </tbody>
    </table>
    <?php
    echo $this->paginationControl($this->paginator, 'Sliding', 'pagination/simple',
        ['route' => 'bitkorn_cms_admin_inlinecontent_edit', 'id' => $this->inlineid, 'page' => $this->page])
    ?>
<?php } else {
    echo 'no content found';
} ?>

<?php if ($this->inlineEditForm && $this->currentInlineContent) : ?>
    <br>
    <?php
    $this->inlineEditForm->prepare();
    echo $this->form()->openTag($this->inlineEditForm);
    echo $this->formRow($this->inlineEditForm->get('cms_content_inline_id'));
    ?>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->inlineEditForm->get('cms_content_inline_alias')) ?>
        </div>
        <div class="w3-col l6 m6 bk-padding-8">
            <?php echo $this->formRow($this->inlineEditForm->get('cms_content_inline_comment')) ?>
        </div>
        <div class="w3-col l2 m2 bk-padding-8">
            <br>
            <button type="button" class="w3-button show-preview w3-right">Vorschau</button>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l11 m11">
            <?php echo $this->formRow($this->inlineEditForm->get('cms_content_inline_content')) ?>
        </div>
    </div>
    <?php
    echo $this->formSubmit($this->inlineEditForm->get('submit'));
    echo $this->form()->closeTag();
    ?>

    <!--<br>-->
    <div id="modal-id" class="w3-modal">
        <div class="w3-modal-content">
            <div class="" style="padding: 8px">
                <span onclick="document.getElementById('modal-id').style.display = 'none'"
                      class="w3-button w3-small w3-display-topright">&times;</span>
                <div class="w3-border" id="preview-content">
                    <?php echo $this->currentInlineContent ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>

<script type="text/javascript">

    $(document).ready(function () {
        $('.show-preview').click(function () {
            console.log('jou');
//            $('#preview-content').html($('input[name="inline_content"]').val());
//            var frame = $("iframe.cke_wysiwyg_frame").contents();
            $('#preview-content').html($('iframe.cke_wysiwyg_frame').contents().find('body.cke_editable').html());
            $('#modal-id').css('display', 'block');
        });
    });

</script>
