<?php
$this->headTitle('CMS Admin Inline Content');
?>
<h3>New Inline Content</h3>
<?php if (isset($this->inlineForm) && $this->inlineForm) { ?>
    <div class="admin-inline-content">
        <?php $this->inlineForm->prepare() ?>
        <?php echo $this->form()->openTag($this->inlineForm) ?>
        <div class="w3-row">
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->inlineForm->get('cms_content_inline_alias')) ?>
            </div>
            <div class="w3-col l3 m3 bk-padding-8">
                <?php echo $this->formRow($this->inlineForm->get('cms_content_inline_comment')) ?>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 m6 bk-padding-8">
                <?php echo $this->formRow($this->inlineForm->get('cms_content_inline_content')) ?>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 m6 bk-padding-8">
                <?php echo $this->formRow($this->inlineForm->get('submit')) ?>
            </div>
        </div>
        <?php echo $this->form()->closeTag() ?>
    </div>
<?php } ?>
