<?php
$this->headTitle('CMS Menü edit');
echo $this->displayMessage($this->message);
echo $this->printrTextarea($this->testzeug);
$tableTdWidthCategory = 160;
?>
<h3>Menüs editieren</h3>

<?php if (isset($this->menusall) && $this->menusall) { ?>
    <h4>Vorhandene Menüs</h4>
    <div class="admin_menus_list">
        <table class="w3-table w3-table-all">
            <tbody>
                <tr>
                    <th title="used in template" class="hovercontext">ID</th>
                    <th>Alias</th>
                    <th>Name</th>
                    <th>display Name</th>
                </tr>
                <?php foreach ($this->menusall as $menu) { ?>
                    <tr <?php echo (isset($this->menu) && $this->menu['id'] == $menu['id']) ? 'style="background-color: #7aba7b;"' : ''; ?>>
                        <td><?php echo $menu['id'] ?></td>
                        <?php
                        $url = $this->url($this->route, array('zeugid' => $menu['id'], 'page' => $this->page))
                        ?>
                        <td><?php echo '<a href="' . $url . '">' . $menu['alias'] . '</a>' ?></td>
                        <td><?php echo $menu['name'] ?></td>
                        <td><?php echo $menu['name_display'] ?></td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>

<?php if (isset($this->menuData) && $this->menuData) : ?>
    <hr>
    <strong>Seiten im gewählten Menü</strong>
    <div class="admin_menu_sites">
        <table class="w3-table w3-table-all w3-small">
            <tbody>
                <tr>
                    <th title="used in template" style="width: <?php echo $tableTdWidthCategory ?>px;">Content Kategorie</th>
                    <th>ID</th>
                    <th>lang</th>
                    <th>Alias</th>
                    <th>Name</th>
                    <th>Titel</th>
                    <th>&nbsp;</th>
                    <th>priority</th>
                </tr>
                <?php $lastLangContentId = 0 ?>
                <?php $trBgColor = '#ccc' ?>
            <form method="post" action="" >
                <input type="submit" name="submit_menudata" value="speichern" style="visibility: hidden;">
                <?php foreach ($this->menuData as $menuRow) { ?>
                    <?php
                    if ($lastLangContentId != $menuRow['lang_content_id']) {
                        switch ($trBgColor) {
                            case '#ccc':
                                $trBgColor = '#ddd';
                                break;
                            case '#ddd':
                                $trBgColor = '#ccc';
                                break;
                        }
                    }
                    ?>
                    <?php $lastLangContentId = $menuRow['lang_content_id'] ?>
                    <tr style="background-color: <?php echo $trBgColor ?>;">
                        <td><?php echo $this->contentCategories[$menuRow['cms_category']]['cms_category_label'] ?></td>
                        <td><?php echo $menuRow['content_id'] ?></td>
                        <td><?php echo $menuRow['lang_content_id'] . ' | ' . $menuRow['lang_code'] ?></td>
                        <td title="<?php echo $menuRow['content_id'] ?>"><?php echo $menuRow['content_alias'] ?></td>
                        <td><?php echo $menuRow['content_name'] ?></td>
                        <td><?php echo $menuRow['content_title'] ?></td>
                        <td>
                                <!--<input type="hidden" name="remove_menu_entry_id" value="<?php // echo $menuRow['content_id']    ?>" />-->
                            <button type="submit" name="remove_menu_entry_id" value="<?php echo $menuRow['content_id'] ?>" >remove</button>
                        </td>
                        <td>
                            <input type="number" name="content_menu_entry_order_priority<?php echo $menuRow['id'] ?>" size="3"
                                   style="width: 80px;"
                                   value="<?php echo $menuRow['content_menu_entry_order_priority'] ?>">
                        </td>
                    </tr>
                <?php } ?>
                <tr><td colspan="7"></td>
                    <td>
                        <input type="submit" name="submit_menudata" value="speichern">
                    </td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
<?php else : ?>
    <p class="w3-orange">Für das gewählte Menü sind keine Seiten vorhanden</p>
<?php endif; ?>

<?php if ($this->isContentOutside) { ?>
    <hr>
    <strong>Seiten um sie dem gewählten Menü hinzu zu fügen</strong>
    <div class="admin_menu_sites_outside">
        <table  class="w3-table w3-table-all w3-small">
            <tbody>
                <tr>
                    <th title="used in template" style="width: <?php echo $tableTdWidthCategory ?>px;">Kategorie</th>
                    <th>ID</th>
                    <th>lang</th>
                    <th>Alias</th>
                    <th>Name</th>
                    <th>Titel</th>
                    <th>&nbsp;</th>
                </tr>
                <?php $lastLangContentId = 0 ?>
                <?php $trBgColor = '#ccc' ?>
                <?php foreach ($this->paginator->getCurrentItems() as $contentOutside) { ?>
                    <?php
                    if ($lastLangContentId != $contentOutside['lang_content_id']) {
                        switch ($trBgColor) {
                            case '#ccc':
                                $trBgColor = '#ddd';
                                break;
                            case '#ddd':
                                $trBgColor = '#ccc';
                                break;
                        }
                    }
                    ?>
                    <?php $lastLangContentId = $contentOutside['lang_content_id'] ?>
                    <tr style="background-color: <?php echo $trBgColor ?>;">
                        <td><?php echo $this->contentCategories[$contentOutside['cms_category']]['cms_category_label'] ?></td>
                        <td><?php echo $contentOutside['content_id'] ?></td>
                        <td><?php echo $contentOutside['lang_content_id'] . ' | ' . $contentOutside['lang_code'] ?></td>
                        <td><?php echo $contentOutside['content_alias'] ?></td>
                        <td><?php echo $contentOutside['content_name'] ?></td>
                        <td><?php echo $contentOutside['content_title'] ?></td>
                        <td>
                            <form method="post" action="" class="inline">
                                <input type="hidden" name="add_menu_entry_id" value="<?php echo $contentOutside['content_id'] ?>" />
                                <input type="submit" name="add_menu_entry" value="add" />
                            </form>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
        <?php
        echo $this->paginationControl($this->paginator, 'Sliding', 'pagination/simple',
                array('route' => 'bitkorn_cms_admin_menu', 'id' => $this->zeugid, 'page' => $this->page))
        ?>
    </div>
<?php } ?>
