<?php
$this->headTitle('CMS Admin Artikel');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->depthArray);
//echo $this->breadcrumb;
?>
<h3>neuer Artikel</h3>

<?php if (isset($this->contentForm) && $this->contentForm) { ?>
    <?php $this->contentForm->prepare() ?>
    <?php echo $this->form()->openTag($this->contentForm) ?>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_category_id')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_alias')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_label')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            &nbsp;
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_meta_title')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_meta_desc')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_meta_keywords')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_meta_social')) ?>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_style')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_style_site')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            &nbsp;
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->contentForm->get('cms_content_lang')) ?>
        </div>
    </div>

    <br>
    <div class="w3-row">
        <div class="w3-col">
            <?php echo $this->formRow($this->contentForm->get('cms_content_content')) ?>
            <hr>
            <?php echo $this->formSubmit($this->contentForm->get('submit')) ?>
        </div>
    </div>
    <?php echo $this->form()->closeTag() ?>
<?php } ?>
