<?php
$route = $this->getHelperPluginManager()->getServiceLocator()->get('request')->getUri()->getPath();
$routeArray = explode('/', $route);
$category = isset($routeArray[2]) ? $routeArray[2] : '';
$site = isset($routeArray[3]) ? $routeArray[3] : '';
?>
<div class="<?php echo $this->cssDropdownClass ?>">
    <a onclick="toggleW3(<?php echo $this->uniqueId ?>)" href="#">
        &nbsp;<?php echo $this->translate($this->menuData[0]['bcm_name_display'], 'bitkorncms') ?>&nbsp;
    </a>
    <div id="<?php echo $this->uniqueId ?>" class="w3-dropdown-content w3-bar-block">
        <?php foreach ($this->menuData as $menu) : ?>
            <a class="w3-bar-item w3-button <?php echo (!empty($this->routeparamContentalias) && $menu['content_alias'] == $this->routeparamContentalias) ? 'currentnav' : '' ?>"
               href="<?php
               if ($this->shortLinks) {
                   echo '/' . $menu['content_alias'];
               } else {
                   // 'route' => '/c[/:content_alias[/]]'
                   echo $this->url('bitkorn_cms_content_short', ['content_alias' => $menu['content_alias']]);
               }
               ?>">
                <?php echo $this->translate($menu['content_name'], 'bitkorncms') ?>
            </a>
        <?php endforeach; ?>
    </div>
</div>
